/*
    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as *;

/*

    ABOUT SECTION 

*/

.about__section {
    @include container;
    @include section;
    @include flex(grid, center, center);
    gap: 1.9rem;
    text-align: center;
    place-items: center;

    .line {
        display: block !important;
        overflow: hidden;

        &>.word {
            transform: translateY(100%) scale(1) rotate(0.001deg);
            display: inline-block;
        }
    }

    &>h2 {
        max-width: 1100px;
        font-size: var(--h2);
        font-weight: 400;
    }

    &>p {
        font-size: var(--p);
        color: var(--second-color);
        max-width: 700px;
    }

    .button__wrapper {
        pointer-events: none;
        margin-block: 1rem 2rem;
        overflow: hidden;

        & button {
            opacity: 0.5;
            transform: translateY(100%) scale(1) rotate(0.001deg);
            background: var(--white-color);
            color: var(--main-color);
        }
    }

    .logos__wrapper {
        @include flex(flex, center, space-around);

        @include breakpoint-down(medium) {
            overflow: hidden;
        }
    }

    &__logos {
        @include flex(flex, center, space-around);
        gap: 2rem;
        margin-top: 1rem;
        padding-inline: 1rem;
        min-width: 100%;
        flex-shrink: 0;
        overflow-y: hidden;
        transform: translateX(50%);

        @include breakpoint(medium) {
            gap: 4rem;
            margin-top: 3rem;
            padding-inline: 2rem;
        }

        li {
            transform: translateX(0%) translateY(120%) scale(1) rotate(0.001deg);
        }

        img {
            width: 50%;

            @include breakpoint(medium) {
                width: 77%;
            }
        }
    }
}
