/*

    This code is writen by Ahmed Ayob

*/
/*

    Colors 

*/

:root {
    --main-color: #1c1d20;
    --second-color: #56575b;
    --third-color: #f4f4f4;
    --forth-color: #c6d9e1;
    --white-color: #ffffff;

    --animation-fast: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
    --animation-slow: all 0.9s cubic-bezier(0.7, 0, 0.3, 1);
}
