/*
    This code is writen by Ahmed Ayob

*/

@use '../../base' as *;
@use '../../utils' as *;

/*

    LOADER 

*/

.loader__wrappper {
    // display: none;

    .loader {
        position: fixed;
        width: 101%;
        height: 101%;
        left: 50%;
        transform: translateX(-50%);
        background: var(--main-color);
        z-index: 100;
        @include flex(flex, flex-end, flex-end);

        h2 {
            @include split_heading(7.5rem);
            position: absolute;
            bottom: 7vw;
            left: 7vw;
            font-family: var(--english-font);

            &.init {
                opacity: 0;
                pointer-events: none;
            }
        }

        .arabic {
            font-family: var(--arabic-font);
            opacity: 0;
            pointer-events: none;

            .line {
                overflow: hidden;

                .word {
                    transform: translateY(100%);
                    overflow: initial;
                }
            }
        }
    }

    .loader_second {
        background: var(--second-color);
        z-index: 99;
    }
}
