/*
    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as *;

/*

    COL__1 SECTION 

*/

.col__1.credit_section {
    @include container;
    @include section;
    @include flex(grid, flex-start);
    position: relative;
    margin-block: 10rem;
    gap: 7rem;

    h2 {
        font-size: var(--h2);
        font-weight: 400;
    }

    span {
        font-size: var(--p);
        text-align: start;
        color: var(--second-color);
    }

    &>div:nth-child(2) {
        @include flex(grid);
        gap: 2rem;

        @include breakpoint(medium) {
            @include flex(grid);
            grid-template-columns: repeat(2, 1fr);
        }

        @include breakpoint(large) {
            @include flex(flex, flex-start, space-between);
        }

        &>ul {
            @include flex(grid);
            width: 100%;
            gap: 2rem;

            @include breakpoint(large) {
                gap: 4.5rem;
            }

            img {
                border: 1px solid var(--main-color);
                filter: grayscale(80%);
                border-radius: 25px;

                @include breakpoint-down(small) {
                    width: 245px;
                }
            }
        }
    }
}

.col__1__btn__wrapper {
    @include flex(flex, flex-start, center);

    button {
        background: var(--white-color);
        color: var(--main-color);
    }
}
