/*

    This code is writen by Ahmed Ayob

*/

@use '../utils' as u;

/*

    Typography

*/
a,
a:visited,
a:active {
    text-decoration: none;
    color: var(--main-color);
    font-size: var(--f-body);
}

h1,
h2,
h3,
h4 {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

h5,
h6,
p {
    font-size: 0.9rem;
    font-weight: 500;
    // color: var(--main-color);
}

:root {
    --arabic-font: 'Noto Sans Arabic', sans-serif;
    --english-font: 'Lexend Deca', sans-serif;
    --section-padding: clamp(2rem, 0.29268292682926833rem + 9.75609756097561vw, 12rem);
    --container-padding: clamp(2.5rem, 1.5609756097560976rem + 5.365853658536586vw, 8rem);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);

    --h2: clamp(2rem, 1.4382716049382718rem + 3.209876543209876vw, 3.3rem);
    --h3: clamp(1.4rem, 1.1407407407407406rem + 1.4814814814814816vw, 2rem);
    --p: clamp(0.8rem, 0.7135802469135804rem + 0.4938271604938271vw, 1rem);
    --h2-text-section: clamp(1.6rem, 0.17586206896551726rem + 8.13793103448276vw, 7.5rem);

    --f-body: clamp(0.9375rem, 0.6298076923076923rem + 0.4807692307692308vw, 1rem);
    --f-sm: #{u.rem(12)};
    --f-md: #{u.rem(13)};
    --f-nor: #{u.rem(14.4)};
    --f-lg: #{u.rem(16)};
    --f-xl: #{u.rem(19)};
    --f-2xl: #{u.rem(25)};
}
