/*

    This code is writen by Ahmed Ayob

*/

@use '../utils' as *;
@use './typography' as *;

/*

    Globals

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: nonw;
    // font-family: 'Lexend Deca', sans-serif;
}

html {
    // scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--arabic-font);
    line-height: 1.5;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--main-color);
    font-size: var(--f-body);
    overflow-x: hidden;
}

ul {
    list-style: none;
}

img {
    user-select: none;
    -moz-user-select: none;
}

button,
input,
textarea {
    background-color: none;
}

main {
    margin: 0 auto;
    display: grid;
    padding-top: 1rem;
}

// *::-webkit-scrollbar {
//     width: 1.2rem;
//     border-radius: 0.5rem;
// }
//
// *::-webkit-scrollbar-thumb {
//     background-color: rgb(66, 66, 66);
//     border-radius: 1rem;
// }
//
// *::-webkit-scrollbar-track {
//     background-color: var(--white-color);
// }
//
// *::-webkit-scrollbar {
//     position: absolute;
//     width: 4px;
//     height: 1px;
// }
//
// *::-webkit-scrollbar-thumb:hover {
//     background-color: var(--second-color);
// }
