/*
    This code is writen by Ahmed Ayob

*/

@use '../../../base' as *;
@use '../../../utils' as *;

/*

    HERO SECTION 

*/

.hero__section {
    @include container;
    @include section;
    @include flex(flex, flex-start, space-between);

    &__right {
        @include flex(grid, center, flex-start);
        max-width: 700px;
        gap: 5rem;

        &__top {
            @include flex(grid, center);
            gap: 1.5rem;

            .line {
                overflow: hidden;

                .word {
                    transform: translateY(100%) scale(1) rotate(0.001deg);
                }
            }

            &__title {
                font-size: 3rem;
                font-weight: 500;
                color: var(--main-color);
            }

            &__text {
                font-size: 1.1rem;
                max-width: 500px;
                font-weight: 500;
                color: var(--second-color);
            }

            &__btn {
                @include button(150px, 60px);
            }
        }

        &__bottom {
            @include flex(grid);
            place-self: flex-end;
            padding-block: 0.5rem;
            gap: 2rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 500;
                color: var(--main-color);
            }

            p {
                color: var(--second-color);
            }

            &>div:first-child {
                @include flex(flex, center);
                overflow: hidden;
                gap: 2rem;

                &>div {
                    @include hero_cards;
                    flex: 1;
                    min-height: 140px;

                    &:first-child {
                        background: var(--third-color);
                        transform: translateX(110%) scale(1) rotate(0.001deg);
                    }

                    &:last-child {
                        transform: translateY(-110%) scale(1) rotate(0.001deg);
                        background: var(--forth-color);
                    }
                }
            }

            &>div:last-child {
                @include hero_cards;
                overflow: hidden;
                @include flex(flex, center);
                transform: translateY(110%) scale(1) rotate(0.001deg);
                gap: 5.5rem;

                &>div {
                    @include flex(grid, center);
                    gap: 0.5rem;
                }
            }
        }
    }

    &__left {
        position: relative;

        &__svg {
            width: 125px;
            height: 125px;
            position: absolute;
            display: flex;
            top: -3.7rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 3;

            .animation {
                animation: rotate 15s cubic-bezier(0.7, 0, 0.3, 1) infinite;
                transform-origin: center center;
            }

            @keyframes rotate {
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        &__img {
            @include flex(block);
            overflow: hidden;

            img {
                scale: 1.5;
                width: 625px;
            }
        }
    }
}
